<div class="motal">
  <div id="open">
    書き方を見る
  </div>
  <div id="mask" class="hidden"></div>
  <section id="modal" class="hidden">
    <p>
      新規投稿の例<br>
      <strong>タイトル</strong> : 自分が行ったライブのタイトル<br>
      <strong>説明</strong> : ライブの感想やあの曲が良かった！など<br>
      <strong>出演アーティスト</strong> : ライブで出ていたアーティスト名<br>
      <strong>会場</strong> : ライブが行われた場所(ライブハウスやドーム)<br>
      <strong>開催日</strong> : ライブが行われた日<br>
      <strong>開演時間</strong> : 何時から始まったか<br>
      <strong>開場時間</strong> : 何時に終わったか<br>
      <strong>写真</strong> : 良かった写真を載せる<br>
      <strong>最後にすべて入力したのを確認したら投稿するを押す</strong>
    </p>
    <div id="close">
      閉じる
    </div>
  </section>
</div>
